# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# dist
dist/
coverage/
*.tsbuildinfo

# IDE
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# OS/편집기
Thumbs.db
ehthumbs.db
Desktop.ini

# 환경변수/테스트/실행기
.env*
!.env.example
*.local

# 결과물
*.log

# 기타 빌드/테스트 산출물
coverage/
lib-cov/
*.seed
*.pid
*.tgz
test/*.log
__snapshots__/
